import { Interceptor } from '@athenna/http'
import type { InterceptorContract, InterceptContext } from '@athenna/http'

@Interceptor()
export class {{ namePascal }} implements InterceptorContract {
    public async intercept(ctx: InterceptContext): Promise<unknown> {
      return ctx.response.body
    }
}
