import { Middleware } from '@athenna/http'
import type { Context, MiddlewareContract } from '@athenna/http'

@Middleware()
export class {{ namePascal }} implements MiddlewareContract {
    public async handle(ctx: Context): Promise<void> {}
}
