import {
  Middleware,
  HandleContextContract,
  InterceptContextContract,
  TerminateContextContract
} from '@athenna/http'

@Middleware()
export class {{ namePascal }} {
    public async handle(ctx: HandleContextContract): Promise<void> {}

    public async intercept({ body }: InterceptContextContract): Promise<any> {
      body.intercepted = true

      return body
    }

    public async terminate(ctx: TerminateContextContract): Promise<void> {}
}
